# Ignore SQLite database
db.sqlite3

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
test-django/
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore static and media files if needed
static/
media/

# Add any other files or folders you don't want to push