<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Clubs{% endblock %}</title>
    
    <!-- Base Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    <!-- Font and Base Styling -->
    
</head>
<body>
    {% include "parts/navbar.html" %}
    
    <main class="main-content">
        {% block content %}
        {% endblock content %}
    </main>
    
    {% include "parts/footbar.html" %}
</body>
</html>